*
/*Pagina de inicio*/
.header {
    background-color: none;
}
.titulo {
    text-align: center;
    text-shadow: #4a4163;
    font-style: oblique;
    font-size: 50px;
    margin-top: auto;
}

.titulo {
    animation: color-change 2s linear 1;
    color: #4a4163;
}

.titulo:hover {
    color:#0202059d ;
}

.strong {
    text-align: center;
    text-shadow: #38331f;
    font-size: 150%;
    color: rgb(46, 67, 173);
}

.strong:hover {
    color: #0202059d;

}

#historia {
    color: #fff;
    font-family: 'Times New Roman', Times, serif;
    font-size: 120%;
    float: right;
    margin-top: 20%;
    margin-left: 70%;
    margin-right: 10%;
    padding: 1%;
    background-color: #000;
}

p {
    color:#bacee7;
}

.p:hover {
    color: #fff;
}

#historia:hover {
   color: #448daf;
    background-color: rgba(16, 21, 31, 0.877);
}

.intro {
    color:rgb(148, 221, 199) ;
}

/*.intro:hover {

}*/

#Menu {
    font-size: 1em;
    padding: 1px;
   
    margin: 1px 1px;
    text-align: center;

}

.menu ul {
    list-style-type: none;
    text-align: center;
   
    
    

}

.menu li {
    font-style: normal;
    font-family: 'Oswald', sans-serif;
    display: inline;
    text-align: center;
    margin: 0px 15px 0px 0px;

   
  
}

.menu li a {
    padding: 5x 10px 5px 10px;
    color: #f7efeff8;
    background-color: #4a4163;
    border: 2px solid#243d5af8;
    text-decoration: none;
}

.menu li a:hover {
    background-color: #f7efeff8;
    color: #4a4163;

}

.body {
    background-image: url("https://png.pngtree.com/background/20230528/original/pngtree-the-hair-salon-with-images-on-the-wall-behind-a-table-picture-image_2779794.jpg");
    background-size:contain;
    background-repeat:no-repeat;
    background-color: #000;
   
}


.aside {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: medium;
    display: inline;
    text-align:flex;
    margin-left: 1%;
    margin: top 15px;;
    justify-content: space-around;
    background-color: #ece3e396;
   
}

h3 {
    
 
    color:rgb(148, 221, 199);

}


   

h3:hover {
    color:rgb(75, 161, 89)
    
}

.aside li {
    width: 3%;
    padding: 15px;
    border-color: #bacee7;
    display: flex;
    text-align: center;
    background-color: #dbcfcf36;
}


.aside li:hover {
    background-color: #fff;
}


/*.bi bi-facebook {
   font-size: 30%;
    width: 75%;
}
.bi bi-instagram {
   
    text-align:center;
    margin-right: 10%;
}
.bi bi-whatsapp{
    
    text-align:center;
    margin-right: 5%;
}*/
#Footer {
    font-size: 1em;
    float: right;
    margin-top: 1px;
    color:rgb(148, 221, 199);
}

.footer :hover {
    color: #fff;
    background-color:rgba(16, 21, 31, 0.877);
}

/*estilo formulario*/

*
#Formulario {
    background-image: url("https://devdotws.files.wordpress.com/2023/09/adobestock_638554490_preview.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
}
.formulario {
    color: #bacee7;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
}
.figure {
    border-radius: 40%;
    border: 1rem solid #2f5f7a;
   
}
h3 {
    color: #000;
}
.section {
    background-color: #790f0fbd;
    padding: 0%;
    margin-left: 1%;
    margin-right: 75%;
    border-radius: 1%;
    border: 1rem solid#38331f;
    margin-top: 5%;

}
.label {
    background-color: #2f5f7a;
}
.input{
    background-color: #4a4163;
    
}
.select {
    background-color: #bacee7;
}

h4 {
    color:#000;
}

/*estilo cards*/

/*.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center; 
    width: 200px;
    height: 150px;     
}*/
*
/*estilos galeria*/
.galeria {
   
    background-color: #000;
   
    
}
.galeria:hover {
 background-color: rgba(16, 21, 31, 0.877);
}
.imagen estilos {
    display:flex;
    width: 350px;
    height: 150px;

}
.img1 {
    display:flex;

    flex-wrap: wrap;
    width: 1150px;
    height: 350px;
    margin-left: 30%;
}
.img2 {
    display:flex;

    flex-wrap: wrap;
    width: 1150px;
    height: 350px;
    
}
.img3 {
    display:flex;

    flex-wrap: wrap;
    width: 1150px;
    height: 350px;
   margin-left: 50%;
}
.img4 {
    display:flex;

    flex-wrap: wrap;
    width: 1150px;
    height: 350px;
 
}
.img5 {
    display:flex;

    flex-wrap: wrap;
    width: 1150px;
    height: 350px;
    margin-left: 50%;
}
.img6 {
    display:flex;

    flex-wrap: wrap;
    width: 1150px;
    height: 350px;
   
}
.img7 {
    display:flex;
flex-wrap: wrap;
  
    width: 1150px;
    height: 350px;
    margin-left: 30%;
}
.img8 {
    display:flex;

    flex-wrap: wrap;
    width: 1150px;
    height: 350px;
    
}
.img9 {
    display:flex;

    
    width: 750px;
    height: 350px;
    margin-left: 10%;
}
.img10 {
    display:flex;

    width: 1150px;
    height: 350px;
  
}
.img11 {
    display:flex;

    flex-wrap: wrap;
    width: 1150px;
    height: 350px;
    margin-left: 50%;
}
.img12 {
    display:flex;

    flex-wrap: wrap;
    width: 1150px;
    height: 350px;
  
}
h1 {
    text-align: center;
    text-shadow: #27424eb6;
    font-size: large;
    font-style: oblique;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #448daf;
  
}
h1:hover {
color: #bacee7;
background-color:rgba(16, 21, 31, 0.);
}





